body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #22c1c3;
  background: linear-gradient(120deg, #22c1c3 0%, #fdbb2d 100%);
}

.App {
  padding-top: 20px;
  text-align: center;
  min-height: 100vh;
}
